
.side-bar-content a:hover{
    background-color: rgba(255, 255, 255, 0.075);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.side-bar-content a.calender{
    background-color: rgba(255, 255, 255, 0.075);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: 5px solid #32CBF1;
    border-right: 2px solid rgba(255, 255, 255, 0);
    color: #32CBF1;
}
.side-bar li a img{
    margin-right: 0.5em;
    margin-left: 0.5em;
    width: 18px;
}

.container {
    color: #32CBF1;
    height: 100vh;
    background-color: #171716fb;
    position: relative;
    margin-left: 170px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
  width: 44rem;
  padding-top: 1em;
  height: 93%;
  background-color: #171716fb;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  border: 2px solid #171716fb;
}

.month {
  width: 100%;
  height: 7rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 1.3rem;
  cursor: pointer;
}

.month h1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
}

.month p {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.weekdays {
  width: 100%;
  height: 2.5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1rem;
  margin: 0.2rem;
  width: calc(40.2rem / 7);
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: rgba(0, 0, 0, 0.247);
  border: 0.2rem solid #32CBF1;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: black;
}

@media (max-width: 900px){
  .calendar {
    width: 30rem;
  }
  .weekdays {
    height: 1.8rem;
  }
  .weekdays div {
    font-size: 0.8em;
  }
  .days {
    padding: 0rem;
  }
  .days div {
    font-size: 1rem;
    margin: 0.2rem;
    width: calc(26.3rem / 7);
  }
}
@media (max-width: 700px){
  .side-bar{
      display: none;
  }
  .container {
    margin-left: 0px;
  }
}