
.side-bar-content a:hover{
    background-color: rgba(255, 255, 255, 0.075);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.side-bar-content a.importantbar{
    background-color: rgba(255, 255, 255, 0.075);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: 5px solid #32CBF1;
    border-right: 2px solid rgba(255, 255, 255, 0);
    color: #32CBF1;
}
/* important */
.important{
    height: 100vh;
    background-color: #171716fb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-left: 200px;
}
.titleofpage-important{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 80%;
    height: 2em;
    display: flex;
    align-items: center;
}
.titlepagelogo{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
    align-self: center;
}
.titleofpage-important h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    height: 100%;
    padding-top: 3px;
    letter-spacing: 1px;
    align-self: flex-start;
    color: #32CBF1;
}
.important-content{
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    padding: 2em;
    border-radius: 15px;
}
.important-content h3{
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.bookmarkimg{
    position: absolute;
    top: 15%;
    right:38%;
}
.important-content p{
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 1em;
}
.form-to-do-imp{
    position: absolute;
    top: 88.20%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 80%;
    height: 3em;
    position: relative;
}
.form-to-do-imp input{
    width: 100%;
    height: 100%;
    padding: 0.5em 4em;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    font-size: 1em;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}
.form-to-do-imp button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.438);
    padding: 0.25em;
    border-radius: 30px;
    border: none;
    width: 3em;
    height: 3em;
    top: 7%;
    left: 0%;
    transform: translate(10%,0%);
}
.form-to-do-imp img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
::placeholder {
    color: white;
    opacity: 1; 
}
input:focus{
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(20px);
    outline: none;
}
.form-to-do-imp:focus-within .plus-sign{
    content: url(images/icons8-circle-48.png);
}
input:hover{
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(20px);
}
.all-to-do-list-imp{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-height: 69%;
    overflow-y: scroll;
}
.all-to-do-list-imp::-webkit-scrollbar{
    display: none;
}
.to-do-list-imp li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.8rem;
    padding-left: 1.2em;
    background-color: rgba(0, 0, 0, 0.812);
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 0.4em;
    border-radius: 20px;
    color: white;
}

.todobtn img{
    width: 28px;
    height: 28px;
    padding-top: 2px;
    transition: all 0.2s ease-in-out;
}

.todobtn{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 24px;
    border: none;
    width: 28px;
    max-height: 28px;
    margin-left: 0.5em;
    height: fit-content;
}
.todobtn .check:hover{
    transform: scale(1.2);
}
.todobtn .remove:hover{
    transform: scale(1.2);
}
.btns-of-Every-List{
    min-width: 75px;
}
.checked-to-do-list-imp li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.8rem;
    padding-left: 1.2em;
    background-color: rgba(0, 0, 0, 0.812);
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 0.4em;
    border-radius: 20px;
    color: white;
}
@media (max-width: 700px){
    .side-bar{
        display: none;
    }
    .important {
      margin-left: 0px;
    }
  }