

.side-bar-content a:hover{
    background-color: rgba(255, 255, 255, 0.075);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.side-bar-content a.planned{
    background-color: rgba(255, 255, 255, 0.075);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: 5px solid #32CBF1;
    border-right: 2px solid rgba(255, 255, 255, 0);
    color: #32CBF1;
}
.side-bar li a img{
    margin-right: 0.5em;
    margin-left: 0.5em;
    width: 18px;
}


/* notes */
.notes{
    height: 100vh;
    background-color: #171716fb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-left: 200px;
}
.notes-content{
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    padding: 2em;
    border-radius: 15px;
    position: relative;
}
.bookmarkimg{
    position: absolute;
    top: 10%;
    right:38%;
    width: 25px;
    height: 25px;
}
.notes-content p{
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 1em;
}
.add-task{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 80%;
    height: 3em;
    position: relative;
}
.titleofpage-notes{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 80%;
    height: 2em;
    display: flex;
    margin-left: 1em;
    align-items: center;
}
.titlepagelogo{
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem;
}
.titleofpage-notes h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    height: 100%;
    padding-top: 3px;
    letter-spacing: 1px;
    align-self: flex-start;
    color: #32CBF1;;
}
.Notes-app{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%,0%);
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    width: 80%;
    height: 75%;
    padding: 16px;
    gap: 16px;
    overflow-y: scroll;
    z-index: 1;
}
.Notes-app::-webkit-scrollbar{
    display: none;
}
.sticky-notes{
    height: 190px;
    box-sizing: border-box;
    padding: 12px;
    border: none;
    outline-color: #32CBF1;
    border-radius: 12px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.17);
    resize: none;
    font-family: sans-serif;
    font-size: 0.9em;
    color: white;
    background-color: black;
    overflow-y: scroll;
    transition: all 0.4s ease-in-out;
}
.sticky-notes::-webkit-scrollbar{
    display: none;
}

.sticky-notes:focus{
    transform: scale(1.12);
}
.add-note-button{
    height: 190px;
    border-radius: 12px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.17);
    border: none;
    outline: none;
    font-size: 8em;
    background: rgba(0, 0, 0, 0.24);
    color: #32cbf18e;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.add-note-button:hover{
    background: rgba(0, 0, 0, 0.87);
    color: #32CBF1;
    font-size: 10em;
}
@media (max-width: 700px){
    .side-bar{
        display: none;
    }
    .notes {
      margin-left: 0px;
    }
}
@media (max-width: 535px){
    .Notes-app{
        justify-content: center;
    }
}